.root {
    position: relative;
}

.input {
    height: 58px;
    padding-top: 20px;
    padding-right: 48px;
    background-color: transparent;
}

.innerInput {
    padding-top: 20px;
    padding-right: 48px;
}

.label {
    position: absolute;
    pointer-events: none;
    font-size: var(--mantine-font-size-xs);
    padding-left: var(--mantine-spacing-sm);
    padding-top: calc(var(--mantine-spacing-md) / 2);
    z-index: 1;
    color: var(--mantine-color-dimmed);
}

.visibilityToggle {
    margin-right: 10px;
}

.section {
    width: auto;
}
