.root {
    position: relative;
}

.input {
    padding-top: 26px;
    background-color: transparent;
}

.input:focus {
    border-color: var(--input-border-color-focus);
}

.label {
    position: absolute;
    pointer-events: none;
    font-size: var(--mantine-font-size-xs);
    padding-left: var(--mantine-spacing-sm);
    padding-top: calc(var(--mantine-spacing-md) / 2);
    z-index: 1;
    color: var(--mantine-color-dimmed);
}
