.dropdown {
    border-radius: var(--mantine-radius-md);
    padding-top: var(--mantine-radius-md);
    padding-bottom: var(--mantine-radius-md);
    padding-left: 0;
    padding-right: 0;
}

.error {
    margin-top: 8px;
    text-align: center;
}
